@media screen and (max-width: 1366px) {
	.about-page .about .skills-info .skills-wrapper svg {
		width: 70px;
		height: 70px;
	}
}

@media screen and (max-width: 1260px) {
	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 250px;
		height: 400px;
	}

	.portfolio .forms-wrapper {
		height: 480px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 390px;
		height: 250px;
	}
}

@media screen and (max-width: 1100px) {
	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 200px;
		height: 350px;
	}

	.portfolio .forms-wrapper {
		height: 420px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 360px;
		height: 220px;
	}

	.portfolio .forms-wrapper .third-row-forms {
		flex-direction: column;
	}
}

@media screen and (max-width: 1200px) {
	.about-page .about .skills-info {
		flex-direction: column;
	}

	.about-page .about .skills-info .skills-info-wrapper {
		margin: 20px 0;
	}

	.about-page .about .skills-info .skills-info-wrapper:first-child {
		margin-top: 20px;
	}

	.about-page .about .skills-info .skills-info-wrapper:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1024px) {
	.section-content {
		padding: 50px 60px 50px 140px;
	}

	.about-page .about .personal-info #face-img {
		height: 200px;
		width: 200px;
	}

	.about-page .about .personal-info .bio {
		font-size: 16px;
	}

	.contact-page .contact .contact-subsection.form {
    	width: 550px;
	}

	.portfolio .slide-btn {
		top: 8%;
		font-size: 33px;
	}
}

@media screen and (max-width: 968px) {
	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 310px;
		height: 210px;
	}
}

@media screen and (max-width: 900px) {
	.about-page .about .personal-info .bio {
		font-size: 14px;
	}

	.about-page .about .skills-info .skills-wrapper svg {
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 870px) {
	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 170px;
		height: 320px;
	}

	.portfolio .forms-wrapper {
		height: 380px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 270px;
		height: 190px;
	}
}

@media screen and (max-width: 768px) {
	.section-content {
		padding: 50px 40px 50px 100px; 
	}

	/*about-page*/
	.about-page .about .personal-info #face-img {
		height: 150px;
		width: 150px;
	}

	.about-page .about .personal-info .bio {
		font-size: 12px;
		line-height: 1.4;
	}

	.about-page .about .personal-info .location-wrapper svg {
		width: 25px;
		height: 25px;
	}

	.about-page .about .personal-info .location-wrapper #location { 
		font-size: 15px;
	}

	/*contact-page*/
	.contact-page .contact .section-title {
		font-size: 34px;
	}
	
	.contact-page .contact .contact-subsection .contact-links-wrapper a {
		font-size: 21px;
	}

	.contact-page .contact .contact-icons-wrapper svg {
   		width: 31px;
		height: 31px;
	}

	.contact-page .contact .contact-subsection .contact-icons-wrapper {
		width: 16%;
		margin-right: 15px;
	}

	.contact-page .contact .contact-subsection .contact-links-wrapper {
		width: 84%;
	}

	.contact-page .contact .contact-subsection.form .form-title {
		font-size: 26px;
	}

	.contact-page .contact .contact-subsection.links,
	.contact-page .contact .contact-subsection.form {
		width: 450px;
	}

	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 145px;
		height: 250px;
	}

	.portfolio .forms-wrapper {
		height: 300px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 220px;
		height: 150px;
	}

	.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
		width: 360px;
    	height: 140px;
	}

	.portfolio .slide-btn {
 		top: 10%;
    	font-size: 30px;
}
}

@media screen and (max-width: 600px) {
	.section-content {
		padding: 35px 40px 35px 40px; 
	}

	.contact.section-content {
		padding: 0 40px;
	}

	.about.section-content {
		padding-top: 0;
	}

	header .main-navigation,
	.about-page .about .personal-info #face-img,
	header .section-content #burger-menu-face-img {
		display: none;
	}

	header .section-content #burger-menu-face-img.burger-menu-element.burger-menu-open {
		display: block;
		border-radius: 50%;
		height: 150px;
		width: 150px;
		position: absolute;
		z-index: 4;
		top: 30px;
		left: 28px;
	}

	header .main-navigation.burger-menu-element.burger-menu-open {
		display: block;
		position: absolute;
		z-index: 3;
		width: 206px;
		height: 100%;
		top: 0;
		left: 0;
	}

	header .main-navigation .nav-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: rgba(255, 255, 255, 1);
		border-bottom-right-radius: 20px;
	}

	header .main-navigation .nav-wrapper .nav-wrapper__item {
		margin: 20px 0;
	}

	header .main-navigation .nav-wrapper .nav-wrapper__item:first-child {
		margin-top: 0;
	}

	header .main-navigation .nav-wrapper .nav-wrapper__item:last-child {
		margin-bottom: 0;
	}

	header .header-burger-navbar-bg.burger-menu-element.burger-menu-open {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(168, 167, 167, 0.808);
	}

	header .section-content .header-burger-menu-wrapper {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	header .section-content .header-burger-menu {
		display: block;
		position: relative;
		height: 24px;
		min-width: 28px;
		width: 28px;
	}

	header .section-content .header-burger-menu span {
		border-radius: 40px;
		position: absolute;
		background-color: rgba(21, 21, 235, 0.7);
		width: 100%;
		height: 6px;
		left: 0;
		top: 9px;
	}

	header .section-content .header-burger-menu::before,
	header .section-content .header-burger-menu::after {
		border-radius: 40px;
		content: " ";
		position: absolute;
		background-color: rgba(21, 21, 235, 0.7);
		width: 100%;
		height: 6px;
		left: 0;
	}
	
	header .section-content .header-burger-menu::before {
		top: 0;
	}

	header .section-content .header-burger-menu::after {
		bottom: 0;
	}

	.about-page .about .personal-info .bio {
		font-size: 16px;
	}

	.about-page .about .personal-info .location-wrapper {
		margin-top: 20px;
	}

	.about-page .about .skills-info .skills-title {
		font-size: 26px;
		margin-bottom: 20px;
	}

	.about-page .about .skills-info .skills-info-wrapper {
		margin: 10px 0;
	}

	.contact-page .contact .contact-subsection.links,
	.contact-page .contact .contact-subsection.form {
		width: 335px;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper {
		flex-direction: column;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input,
	.contact-page .contact .contact-subsection.form #contact-form .message {
		font-size: 16px;
		margin: 5px 0;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input:first-child {
		margin-top: 0;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input:last-child {
		margin-bottom: 0;
	}

	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 120px;
		height: 190px;
	}

	.portfolio .forms-wrapper {
		height: 220px;
	}

	.portfolio .slide-btn {
		top: 12%;
		font-size: 30px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 210px;
		height: 140px;
	}

	.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
		width: 300px;
    	height: 100px;
	}

	.portfolio.section-content {
		padding-top: 0;
	}

	.portfolio .websites-wrapper-title, .portfolio .forms-wrapper-title {
		font-size: 28px;
		margin-bottom: 16px;
	}
	
}

@media screen and (max-width: 520px) {
	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		width: 110px;
		height: 170px;
	}

	.portfolio .forms-wrapper {
		height: 210px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 165px;
		height: 110px;
	}
}

@media screen and (max-width: 425px) {
	.section-content {
		padding: 25px 20px;
	}

	.contact-page .contact .contact-subsection.links,
	.contact-page .contact .contact-subsection.form {
		width: 100%;
	}

	.contact-page .contact .contact-subsection .contact-links-wrapper a {
		font-size: 20px;
	}

	.contact-page .contact .section-title {
    	font-size: 23px;
		margin-bottom: 20px;
	}

	.contact-page .contact .contact-subsection.form .form-title {
    	font-size: 18px;
	}

	.contact-page .contact .contact-icons-wrapper svg {
    	width: 25px;
    	height: 25px;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper {
		margin-bottom: 5px;
	}
	
	.contact-page .contact .contact-subsection .contact-links-wrapper a {
		font-size: 16px;
	}

	.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input {
		padding: 8px 14px;
		font-size: 14px;
		margin: 3px 0;
	}

	.contact-page .contact .contact-subsection.form #contact-form .message {
		padding: 8px 14px;
		font-size: 14px;
		border-radius: 20px;
		height: 120px;
	}

	.contact-page .contact .contact-subsection.form #contact-form .submit-btn {
		padding: 6px 20px;
		font-size: 17px;
	}

	.portfolio .websites-wrapper #personnel-hiring-website {
		width: 275px;
		height: 150px;
	}

	.portfolio .forms-wrapper .row-forms {
		flex-wrap: wrap;
	}

	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		height: 150px;
		width: 105px;
		border-radius: 15px;
	}

	.portfolio .websites-subsection, .portfolio .forms-subsection,
	.portfolio .forms-wrapper .second-row-forms,
	.portfolio .forms-wrapper .third-row-forms {
    	padding: 0;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 135px;
		height: 100px;
	}

	.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
		width: 135px;
		height: 100px;
	}

	.portfolio .forms-wrapper {
		height: 200px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 155px;
		height: 110px;
	}

	.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
		width: 240px;
    	height: 90px;
	}

	.portfolio .forms-wrapper .second-row-forms {
		flex-direction: column;
	}

	.portfolio .wrapper .wrapper__item-bg .icons-wrapper {
		margin-right: 5px;
	}

	.portfolio .wrapper .wrapper__item-bg svg  {
		width: 22px;
		height: 22px;
	}

	.portfolio .wrapper .wrapper__item .links-wrapper a {
		font-size: 16px;
	}
}

@media screen and (max-width: 375px) { 
	.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
		height: 140px;
		width: 85px;
		border-radius: 15px;
	}

	.portfolio .forms-wrapper {
		height: 180px;
	}

	.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
		width: 130px;
		height: 85px;
	}

	.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
		width: 220px;
    	height: 80px;
	}
}