@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&display=swap');

*,*:before,*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Shippori Mincho', serif;
	font-size: 16px;
	font-weight: 400;
}

.section-content {
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 80px 50px 200px;
}

header .main-navigation {
	width: 100%;
}

header .main-navigation .nav-wrapper {
	display: flex;
}

header .main-navigation .nav-wrapper .nav-wrapper__item {
	list-style-type: none;
	margin: 0 20px;
}

header .main-navigation .nav-wrapper .nav-wrapper__item:first-child {
	margin-left: 0;
}

header .main-navigation .nav-wrapper .nav-wrapper__item:last-child {
	margin-right: 0;
}

header .main-navigation .nav-wrapper .nav-wrapper__item a {
	text-decoration: none;
	padding: 5px 10px;
	color: rgba(21, 21, 235, 0.6);
	font-weight: 600;
	font-size: 19px;
	position: relative;
}

header .main-navigation .nav-wrapper .nav-wrapper__item a::after {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: rgba(21, 21, 235, 0.75);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

header .main-navigation .nav-wrapper .nav-wrapper__item a:hover::after,
header .main-navigation .nav-wrapper .nav-wrapper__item a.active-link::after {
	width: 100%; 
	left: 0; 
}

header .main-navigation .nav-wrapper .nav-wrapper__item a:hover,
header .main-navigation .nav-wrapper .nav-wrapper__item a.active-link {
	color: rgba(21, 21, 235, 1);
}


/*Portfolio*/
.portfolio {
	background: url(images/bg.jpg) no-repeat center;
	background-size: cover;
}

.portfolio .section-title {
	color: rgb(28, 75, 161);
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	font-size: 37px;
	letter-spacing: 1.1px;
}

.portfolio .websites-subsection,
.portfolio .forms-subsection {
	padding: 10px 40px;
}

.portfolio .websites-wrapper-title,
.portfolio .forms-wrapper-title {
	margin-bottom: 20px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	font-size: 28px;
	color: rgba(31, 82, 177, 0.863);
	letter-spacing: 1px;
}

.portfolio .forms-wrapper .row-forms {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.portfolio .forms-wrapper .row-forms:first-child {
	margin-top: 0;
}

.portfolio .forms-wrapper .row-forms:last-child {
	margin-bottom: 0;
}

.portfolio .forms-wrapper .second-row-forms {
	padding: 0 30px;
}

.portfolio .forms-wrapper .third-row-forms {
	padding: 0 70px;
} 

.portfolio .wrapper .wrapper__item {
	position: relative;
	display: inline-flex;
}

.portfolio .wrapper .wrapper__item:first-child {
	margin-left: 0;
}

.portfolio .websites-wrapper #personnel-hiring-website {
	width: 320px;
	height: 200px;
	border: none;
}

.portfolio .wrapper .wrapper__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgb(255, 255, 255, 0);
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio .wrapper .wrapper__item-bg .icons-wrapper {
	margin-right: 10px;
}

.portfolio .wrapper .wrapper__item-bg .links-wrapper,
.portfolio .wrapper .wrapper__item-bg .icons-wrapper {
	display: none;
}

.portfolio .wrapper .wrapper__item-bg .icons-wrapper > svg,
.portfolio .wrapper .wrapper__item-bg .links-wrapper > .link-title {
	margin: 12px 0;
}

.portfolio .wrapper .wrapper__item-bg .icons-wrapper > svg:first-child,
.portfolio .wrapper .wrapper__item-bg .links-wrapper > .link-title:first-child {
	margin-top: 0;
}

.portfolio .wrapper .wrapper__item-bg .icons-wrapper > svg:last-child,
.portfolio .wrapper .wrapper__item-bg .links-wrapper > .link-title:last-child {
	margin-bottom: 0;
}

.portfolio .wrapper .wrapper__item .links-wrapper a {
	text-decoration: none;
	font-size: 18px;
	color: rgb(0, 0 ,0);
	padding: 3px 5px;
	transition: 0.2s;
}

.portfolio .wrapper .wrapper__item .links-wrapper a:hover {
	color:rgb(21, 21, 235);
}

.portfolio .wrapper .wrapper__item-bg svg {
	display: block;
	width: 25px;
	height: 25px;
}

.portfolio .wrapper .wrapper__item:hover .icons-wrapper,
.portfolio .wrapper .wrapper__item:hover .links-wrapper {
	display: block;
}

.portfolio .wrapper .wrapper__item:hover .wrapper__item-bg {
	background-color: rgba(255, 255, 255, 0.65);
}

.portfolio .wrapper .wrapper__item:hover .form-preview {
	box-shadow: none;
}

.portfolio .forms-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.portfolio .forms-subsection {
	margin-top: 20px;
}

.portfolio .forms-wrapper .forms-wrapper__item {
	height: 100%;
}

.portfolio .forms-wrapper .forms-wrapper__item {
	width: auto;
	height: auto
}

.portfolio .wrapper .forms-wrapper__item:hover .wrapper__item-bg {
	background-color: rgba(216, 213, 213, 0.65);
	border-radius: 20px;
}

.portfolio .forms-wrapper .forms-wrapper__item .form-preview {
	border: 1px solid rgba(197, 183, 183, 0.808);
	border-radius: 20px;
	padding: 10px;
	height: 450px;
	width: 300px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 15px 2px #fff;
}

.portfolio .forms-wrapper .second-row-forms .forms-wrapper__item .form-preview {
	width: 450px;
	height: 300px;
}

.portfolio .forms-wrapper .third-row-forms .forms-wrapper__item .form-preview {
	width: 400px;
	height: 175px;
}

/*contact page*/
.contact-page .contact .section-title {
	margin-bottom: 35px;
	color: rgb(28, 75, 161);
	font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.5px;
}

.contact-page .contact .contact-subsection.links {
	display: flex;
	width: 500px;
}

.contact-page .contact .contact-subsection .contact-icons-wrapper,
.contact-page .contact .contact-subsection .contact-links-wrapper {
	display: flex;
	flex-direction: column;
}

.contact-page .contact .contact-subsection .contact-icons-wrapper svg,
.contact-page .contact .contact-subsection .contact-links-wrapper a {
	margin: 5px 0;
}

.contact-page .contact .contact-subsection .contact-icons-wrapper svg:first-child,
.contact-page .contact .contact-subsection .contact-links-wrapper a:first-child {
	margin-top: 0;
}

.contact-page .contact .contact-subsection .contact-icons-wrapper svg:last-child,
.contact-page .contact .contact-subsection .contact-links-wrapper a:last-child {
	margin-bottom: 0;
}

.contact-page .contact .contact-subsection .contact-icons-wrapper {
	width: 20%;
	margin-right: 20px;
	align-items: flex-end;
}

.contact-page .contact .contact-icons-wrapper svg {
	width: 40px;
	height: 40px;
}

.contact-page .contact .contact-subsection .contact-links-wrapper {
	width: 80%;
}

.contact-page .contact .contact-subsection .contact-links-wrapper a {
	text-decoration: none;
	width: fit-content;
	font-size: 27px;
	color: rgb(0, 0, 238);
	padding: 2px 4px;
}

.contact-page .contact .contact-subsection .contact-links-wrapper a:hover {
	color: rgba(207, 45, 212, 0.877);	
}

.contact-page .contact .contact-subsection.form {
	width: 600px;
	margin-top: 20px;
}

.contact-page .contact .contact-subsection.form .form-title {
	font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 32px;
    color: rgba(31, 82, 177, 0.863);
    letter-spacing: 1.2px;
	margin-bottom: 10px;
}

.contact-page .contact .contact-subsection.form #contact-form {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(72, 139, 255);
	padding: 10px;
	border-radius: 20px;
}

.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper {
	display: flex;
	margin-bottom: 10px;
}

.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input {
	padding: 12px 18px;
	width: 100%;
	background-color: rgb(236, 236, 236);
	border-radius: 30px;
	border: none;
	font-size: 18px;
	margin: 0 15px;
	color: rgb(77, 112, 207);
}

.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input::placeholder,
.contact-page .contact .contact-subsection.form #contact-form .message::placeholder {
	color: rgb(77, 112, 207);
}

.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input:first-child {
	margin-left: 0;
}

.contact-page .contact .contact-subsection.form #contact-form .inputs-wrapper input:last-child {
	margin-right: 0;
}

.contact-page .contact .contact-subsection.form #contact-form .message {
	background-color: rgb(236, 236, 236);
	border-radius: 25px;
	border: none;
	height: 150px;
	padding: 12px 18px;
	font-size: 18px;
	resize: none;
	margin-bottom: 10px;
	color: rgb(77, 112, 207);
}

.contact-page .contact .contact-subsection.form #contact-form .submit-btn-wrapper {
	width: 100%;
	text-align: center;
}

.contact-page .contact .contact-subsection.form #contact-form .submit-btn {
	padding: 10px 30px;
	border-radius: 30px;
	border: none;
	background-color: rgb(72, 139, 255);
	color: rgb(255, 255, 255);
	font-size: 20px;
	cursor: pointer;
	transition: 0.2s;
	opacity: 0.9;
}

.contact-page .contact .contact-subsection.form #contact-form .submit-btn:hover {
	opacity: 1;
}

/*about page*/
.about-page .about .personal-info {
	display: flex;
}

.about-page .about .personal-info img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

.about-page .about .skills-info {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.about-page .about .skills-info .skills-title {
	color: rgb(28, 75, 161);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.8px;
	margin-bottom: 15px;
}

.about-page .about .skills-info .skills-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.about-page .about .skills-info .skills-wrapper svg {
	width: 80px;
	height: 80px;
	margin: 0 10px;
}

.about-page .about .skills-info .skills-wrapper svg:first-child {
	margin-left: 0;
}

.about-page .about .skills-info .skills-wrapper svg:last-child {
	margin-right: 0;
}